*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-: #55AD9B;
    --secondary-: #95D2B3;
    --neutral-: #D8EFD3;
    --light-: #F1F8E8;
    --dark-: rgb(56,56,56);
}

body{
    max-width: 1200px;
    border: 1px solid black;
    margin: 0 auto;
    background-color: var(--light-);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh;    */
    text-align: center;
}

h1{
    font-size: 2rem;
    letter-spacing: 10px;
    color: var(--primary-);
    padding-top: 20px;
}

.message{
    /* display: none; */
    color: var(--dark-);
    letter-spacing: 1px;
    font-weight: bold;
}

.boxesContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box{
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: 1px 1px 5px var(--dark-);
    font-size: 2.5rem;
    color: var(--light-);
}
@media(max-width:700px){
    
    h1{
        letter-spacing: 5px;
        color: var(--primary-);
    }
}
@media(min-width:700px){
    .box{
        width: 130px;
        height: 130px;
    }
}

#newGameBtn, #resetBtn{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--secondary-);
    border: none;
    box-shadow: 1px 1px 1px var(--dark-);
}




